/* Estilos para el cuerpo y el encabezado */
body {
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.barra-superior {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #aff2ea; /* Contorno del color asignado en el botón primary */
    border-radius: 10px; /* Borde redondeado */
    padding: 10px;
    text-align: center;
    color: #0e101a; /* Texto en blanco */
}

.barra-superior nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar los elementos del menú */
}

.barra-superior nav li {
    margin-right: 20px;
}

.barra-superior nav a {
    color: #0e101a; /* Cambiar el color del texto a blanco */
    text-decoration: none;
    transition: color 0.2s ease;
}

.barra-superior nav a:hover {
    color: #ccc;
}

/* Estilos para el contenido */
.contenido {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contenido p {
    font-size: 16px;
    line-height: 1.5;
}

.contenido img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
.pie-de-pagina {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    display: none; /* Ocultar el pie de página inicialmente */
}

/* Estilos para el pie de página cuando es visible */
.pie-de-pagina.pie-visible {
    display: block;
}

.pie-de-pagina p {
    margin-bottom: 10px;
}

/* Estilos para los botones */
.color-buttons {
    text-align: center; /* Centrar los botones */
    margin-top: 10px; /* Controlar la distancia entre los botones y otros elementos */
}

.color-buttons button {
    margin: 10px;
    padding: 0; /* Eliminar el relleno anterior para las imágenes */
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden; /* Asegurar que las imágenes no se salgan del botón */
    width: 40px; /* Ajustar el ancho de la imagen según tus preferencias */
    height: 40px; /* Ajustar la altura de la imagen según tus preferencias */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar una sombra */
    transition: transform 0.2s ease; /* Agregar transición para efecto al pasar el ratón */
}

.color-buttons button img {
    width: 100%;
    height: 100%;
    display: block; /* Asegurar que la imagen no tenga espacio adicional */
}

/* Estilos cuando se pasa el ratón sobre el botón */
.color-buttons button:hover {
    transform: scale(1.1); /* Ajustar el tamaño al pasar el ratón para dar un efecto */
}


/* Estilos para el botón flotante de Ko-fi */
.kofi-widget-btn-container {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Cambiar 'right' a 'left' para posicionar el botón a la izquierda */
    z-index: 9999;
}

.kofi-widget-btn {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Agregar un margen inferior para separar el botón del pie de página */
}

/* Estilos para el botón flotante de Ko-fi en dispositivos móviles */
@media screen and (max-width: 768px) {
    .kofi-widget-btn-container {
        left: 10px; /* Ajustar la posición en dispositivos móviles */
    }
}

/* Estilos para el efecto de paralaje */
.parallax-element {
    position: relative;
    overflow: hidden;
    height: 400px; /* Altura ajustada para el efecto de paralaje */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-element img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%) scale(1.1); /* Ajusta la escala para el efecto */
    z-index: -1;
}

/* Ajusta la velocidad del efecto de paralaje */
@media screen and (max-width: 768px) {
    .parallax-element img {
        top: 50%;
        left: 50%;
        width: 300px; /* Ajusta el tamaño para dispositivos móviles */
        height: 300px;
        transform: translate(-50%, -50%) scale(1.1); /* Ajusta la escala para el efecto */
    }
}

/* Estilos para el carrusel */
.carrusel-container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px; /* Ajusta el margen inferior del carrusel */
    height: 50vh; /* Altura del carrusel, puedes ajustarla según tus necesidades */
    overflow: hidden;
}


.swiper-container {
    width: 100%;
    height: 100%; /* Usamos el 100% del contenedor para que el carrusel no se sobreponga a otros elementos */
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 260px;
}

.swiper-slide {
    margin: 10px;
    overflow: hidden;
}

/* ... Estilos adicionales para los blogs dentro del carrusel si es necesario ... */
